html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* make sure to set some focus styles for accessibility */
:focus {
    outline: 0;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;

}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
    -webkit-appearance: none;
    -moz-appearance: none;
}

input[type=search] {
    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

textarea {
    overflow: auto;
    vertical-align: top;
    resize: vertical;
}

/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */

audio,
canvas,
video {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    max-width: 100%;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]) {
    display: none;
    height: 0;
}

/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 * Known issue: no IE 6 support.
 */

[hidden] {
    display: none;
}

/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */

html {
    font-size: 100%; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
    -ms-text-size-adjust: 100%; /* 2 */
}

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */

a:focus {
    outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */

a:active,
a:hover {
    outline: 0;
}

/**
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */

img {
    border: 0; /* 1 */
    -ms-interpolation-mode: bicubic; /* 2 */
}

/**
 * Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */

figure {
    margin: 0;
}

/**
 * Correct margin displayed oddly in IE 6/7.
 */

form {
    margin: 0;
}

/**
 * Define consistent border, margin, and padding.
 */

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct color not being inherited in IE 6/7/8/9.
 * 2. Correct text not wrapping in Firefox 3.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */

legend {
    border: 0; /* 1 */
    padding: 0;
    white-space: normal; /* 2 */
    *margin-left: -7px; /* 3 */
}

/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */

button,
input,
select,
textarea {
    font-size: 100%; /* 1 */
    margin: 0; /* 2 */
    vertical-align: baseline; /* 3 */
    *vertical-align: middle; /* 3 */
}

/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

button,
input {
    line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */

button,
select {
    text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */

button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button; /* 2 */
    cursor: pointer; /* 3 */
    *overflow: visible;  /* 4 */
}

/**
 * Re-set default cursor for disabled elements.
 */

button[disabled],
html input[disabled] {
    cursor: default;
}

/**
 * 1. Address box sizing set to content-box in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box; /* 1 */
    padding: 0; /* 2 */
    *height: 13px; /* 3 */
    *width: 13px; /* 3 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */

input[type="search"] {
    -webkit-appearance: textfield; /* 1 */
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box; /* 2 */
    box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 3+.
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */

textarea {
    overflow: auto; /* 1 */
    vertical-align: top; /* 2 */
}

/**
 * Remove most spacing between table cells.
 */

table {
    border-collapse: collapse;
    border-spacing: 0;
}

html,
button,
input,
select,
textarea {
    color: #222;
}


::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}




* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {text-decoration: none;


}

body {
    background: #171717;
}

header {
    padding: 30px 0;
    margin-bottom: 89px;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
}

.header_inner {

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {

    display: flex;

}

.btn {
    display: flex;
    border: 1px solid #E4B564;
    align-items: center;
    padding: 0 11px 0 25px;
    box-sizing: border-box;
}

.btn-text {

    color: #E4B564;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 166.667% */
    margin-left: 8px;

}

/*main_header*/

/*section-header*/

.title-header {
    color: #FFF;
    font-family: Roboto;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px; /* 56% */
    margin-bottom: 43px;
}

.header-text {

    color: #FFF;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px; /* 140% */
    margin-bottom: 41px;
}

.section-block {
    display: grid;
    justify-content: space-between;

    gap: 25px;
    grid-template-columns: 375px 375px 378px;
    grid-template-rows: 468px ;
    box-sizing: border-box;
    margin-bottom: 25px;



}

.block-inner-1{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #634F2C;
}

.block-inner-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #B4A385;
    padding: 0 30px;

}

.block-inner-3 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #E4B564;

}

.section-block_second {
    display: grid;
    justify-content: space-between;

    gap: 25px;
    grid-template-columns: 577px 577px;
    grid-template-rows: 468px ;
    margin-bottom: 161px;
    box-sizing: border-box;

}

.block-inner-4 {

    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #635A4A;
}


.block-inner-5 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #B08C4D;
}

.inner-text{

    color: #FFF;
    text-align: center;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px; /* 140% */
}

/*sub_header*/

.title-sub_header {

    color: #FFF;
    font-family: Roboto;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px; /* 56% */
    margin-bottom: 43px;
}

.section-sub {

    display: grid;


    gap: 25px;
    grid-template-columns: 375px 375px 375px;
    grid-template-rows: repeat(6, 115px);
    box-sizing: border-box;
    margin-bottom: 192px;
}

.sub-inner-1 {


    grid-row-start: 1;
    grid-column-start: 1;

    grid-row-end: 3;
    grid-column-end: 2;
    display: block;
    background: #0E0E0E;
}

.sub-inner-2 {
    grid-row-start: 3;
    grid-column-start: 1;

    grid-row-end: 7;
    grid-column-end: 2;
    display: block;
    background: #242424;
}
.sub-inner-3 {
    grid-row-start: 1;
    grid-column-start: 2;

    grid-row-end: 4;
    grid-column-end: 3;
    display: block;
    background: #1F1F1F;

}

.sub-inner-4 {

    grid-row-start: 4;
    grid-column-start: 2;

    grid-row-end: 7;
    grid-column-end: 3;
    display: block;
    background: #1F1F1F;
}
.sub-inner-5 {
    grid-row-start: 1;
    grid-column-start: 3;

    grid-row-end: 3;
    grid-column-end: 4;
    display: block;
    background: #E4B564;
}
.sub-inner-6 {
    grid-row-start: 5;
    grid-column-start: 3;

    grid-row-end: 7;
    grid-column-end: 4;
    display: block;
    background: #E4B564;
}
.sub-inner-7 {
    grid-row-start: 3;
    grid-column-start: 3;

    grid-row-end: 5;
    grid-column-end: 4;
    display: block;
    background: #0A0909;
}
.sub-inner-8 {



}
.sub-inner-9 {



}

.sub-inner-10 {


}
.sub-inner-11 {


}
.sub-inner-12 {


}
.sub-inner-13 {
    display: block;

}
.sub-inner-14 {
    display: block;

}
.sub-inner-15 {
    display: block;

}
.sub-inner-16 {
    display: block;

}
.sub-inner-17 {
    display: block;

}
.sub-inner-18 {
    display: block;

}

.sub-inner-text {

    color: #FFF;
    font-family: Rubik;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.bold-text {
    color: #FFF;
    font-family: Rubik;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.sub-inner-1,
.sub-inner-2,
.sub-inner-3,
.sub-inner-4,
.sub-inner-5,
.sub-inner-6,
.sub-inner-7{

    padding: 40px 40px 0 40px;
}

/*section-clients*/


.client-block {
    background-color: #0E0E0E;
    padding-top: 150px ;
}

.client-block_title {

    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 61px;
}

.title-block_header {
    color: #FFF;
    font-family: Roboto;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px; /* 56% */
}


.btn-centre {
    display: flex;
    border: 1px solid #E4B564;
    align-items: center;
    justify-content: center;
    padding: 10px 40px;

}

.client-block_inner {
    display: flex;
    flex-wrap: wrap;



}

.our_client-1 {

    width: 33%;
    height: 391px;
    background: #634F2C;
    flex-shrink: 0;
}

.our_client-2 {



    width: 33%;
    height: 391px;
    background: #E8D2ABC2;
    flex-shrink: 0;
}

.our_client-3 {
    width: 33%;
    height: 391px;
    background: #E4B564;
    flex-shrink: 0;
}
.our_client-4 {
    width: 33%;
    height: 391px;
    background: #635A4A;
    flex-shrink: 0;
}
.our_client-5 {
    width: 33%;
    height: 391px;
    background: #B08C4D;
    flex-shrink: 0;
}
.our_client-6 {
    width: 33%;
    height: 391px;
    background: #634F2C;
    flex-shrink: 0;
}


.client-text {

    color: #FFF;
    text-align: center;
    font-family: Rubik;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px; /* 127.273% */
}


.our_client-1,

.our_client-3,
.our_client-4,
.our_client-5,
.our_client-6 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.our_client-intro{
    display: inline-block;
    text-align: center;
    padding: 60px 60px 0;
;


    .picture {
        margin-bottom: 10px;
    }

}
/*footer*/


footer {
    width: 100%;
    height: 200px;
    background: #171717;
}


